.slider {
    width: 100%;
    height: 62vh;
    display: flex;
    align-items: center;
}

.left-side {
    flex-basis: 30%;

}

.right-side {
    flex-basis: 30%;
}

.center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center img {
    width: 40vw;
    height: 20vw;
}

.dots span {
    display: inline-block;
    background-color: white;
    margin: 0 15px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px gray;
}

.dots span.active {
    box-shadow: 0 0 0 3px gray, 0 0 3px 5px black;
}

.title {
    font-size: 50px;
    color: gray;
    font-family: 'Nixie One', cursive;
    letter-spacing: .6px;
}

.text {
    font-size: 25px;
    text-transform: uppercase;
    color: gray;
    font-family: 'Cinzel Decorative', cursive;
}

.fa-arrow-left, .fa-arrow-right {
    color: gray;
}